<%= form_with model: @todo, local: true do |form| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@todo.errors.count, "error") %> prohibited
        this todo from being saved:
      </h2>
      <ul>
        <% @todo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :details %><br>
    <%= form.text_area :details %>
  </p>

  <% unless @todo.new_record? %>
    <p>
      <%=  form.check_box :status %>
      <%= form.label :status, "Completed" %>
    </p>
<%  end %>

  <p>
    <%= form.submit %>
  </p>
<% end %>