<h1>All Todos</h1>
<table>
  <thead>
  <tr>
    <th >Serial </th>
    <th >Title</th>
    <th >Details</th>
    <th >Status</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @todos.each_with_index do |todo, index| %>
  <tr>
    <th><%= index+1 %></th>
    <td><%=  todo.title  %></td>
    <td><%= todo.details %></td>
    <td><%= todo.status==true ?  "Completed" : "Pending" %></td>
    <td><%= link_to 'Show', todo_path(todo) %></td>
    <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
    <td>
      <%= link_to'Delete', todo_path(todo),
                            method:  :delete,
                            data: {confirm: 'Are You sure?'} %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>