<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @todo.details %>
</p>

<p>
  <strong>Status:</strong>
  <%= @todo.status==true ? "Completed" : "Pending" %>
</p>

<%= link_to 'Back', todos_path %>